.about {
    padding: 100px 0px 147px;
    background: url(../img/main1/BG\ Shape\ Content.png)center/cover;

    .fix {
        &__title {

            color: #35B8BE;
            font-size: 51px;
            font-style: normal;
            font-weight: 400;
            line-height: 55px;
            letter-spacing: 1.65px;
            margin-bottom: 26px;
            padding-top: 151px;
        }

        &__text {
            color: #546285;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0.36px;
            margin-bottom: 66px;
        }

        &__btn {
            background: url(../img/main1/icons.png);
            padding: 18px 25px;
            border-radius: 5px;
            color: #FFF;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }
}