@import url(../libs/bootstrap-grid.min.css);
@import url(../font/inter/inter.css);
@import url(../libs/owl/owl.carousel.min.css);
@import url(../libs/owl/owl.theme.default.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

$blue:#35B8BE;

@import'header.scss';
@import'home.scss';
@import'about.scss';
@import'tutorial.scss';
@import'menu.scss';
@import'Order.scss';
@import'Call.scss';
@import'support.scss';
@import'footer.scss';
